.footer {
  background: #f4f4f4;
  padding: 50px 0 30px;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-col {
  width: 32%;
}

.footer-col h3 {
  color: #009999;
  font-size: 20px;
  margin-bottom: 35px;
}

.footer-col p {
  color: #999;
  font-size: 14px;
  line-height: 1.8;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 20px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #999;
  font-size: 14px;
}

.social-icons {
  display: flex;
  gap: 18px;
  margin-bottom: 40px;
}

.social-icons a {
  width: 44px;
  height: 44px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  font-size: 14px;
  text-decoration: none;
}

.footer-links {
  margin-top: 10px;
}

.copyright {
  margin-top: 120px;
}

.designer {
  margin-top: 120px;
  text-align: right;
}
