<header class="header">
  <div class="container">
    <div class="nav_logo">
      <a class="navbar_brand" href="#"
        ><i class="fa fa-film" aria-hidden="true"> Catalog-Z</i></a
      >
    </div>

    <div class="navbar">
      <ul>
        <li><a href="/index.html">Photos</a></li>
        <li><a href="/videos.html">Videos</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
